{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>My Company Message Board!</h1>
  <p>Posts here will be CLOSELY monitored</p>
</div>

<br>

<form action="/" method="POST">
  <div class="form-group">
    <input name="text" class="form-control input-lg" type="text" placeholder="Post a message" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>
<div class="text-center">
    <p style='font-size:x-small;'>Served by host: {{hostname}}</p>
</div>

<br>
<hr>

<div>
  {% for post in posts %}
    <h4 class="well"><strong>{{post.text}}</strong> - <em>{{post.date_posted.strftime('%Y-%m-%d')}}</em></h4>
  {% endfor %}
</div>

{% endblock %}
